body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: var(--primary-color);

}

h3 {
    padding: 8px;
    background: var(--third-color);
    border-radius: 8px;
    margin: 0;
    color: var(--secondary-color);
    font-family: "Roboto Slab", serif;
    max-width: 400px;
    margin-top: 1rem;
}

p {
    color: var(--secondary-color);
    line-height: 1.6;
}

main {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#night {
    height: 60px;
    cursor: pointer;

}

/* Navigation */

nav {
    height: 72px;
    background: black;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
}

:root {
    --primary-color: rgb(216, 213, 213);
    --secondary-color: #000000;
    --third-color: rgb(151, 144, 144);


}

.dark {
    --primary-color: #121212;
    --secondary-color: #ffffff;
    --third-color: silver;

}

nav a {
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;
}

nav a:hover {
    text-decoration: none;
    color: red;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

.active {
    color: #f783ae;
}

#logo-img {
    display: flex;
    height: 100%;

    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
}

#logo-img img {
    height: 70px;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Card */

.card-image {
    transition: 0.4s;
    border-radius: 80px;
    display: flex;
}

.card-image img {
    border-radius: 80px;
    width: 100%;
}

.card-image:hover {
    box-shadow: 0 10px 60px -6px var(--secondary-color);
}

.card .card-description {
    padding: 0 8px;
}

.card .card-description p {
    border: 3px solid var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
    border-style: hidden;
    background-color: darkgrey;
    box-shadow: 0 10px 10px -5px var(--secondary-color);
}

.btn-readmore {
    padding: 8px 24px;
    border: 3px solid var(--secondary-color);
    transition: 0.4s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    border-radius: 8px;
}

.btn-readmore:hover {
    background: red;
    text-decoration: none;
    padding: 8px 64px 8px 24px;
    color: white;
}

/* Blog List page */

.page-heading {
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
    margin-top: 120px;
    margin-left: 425px;
    margin-bottom: 100px;
    color: var(--secondary-color);
}

.page-heading:hover {
    padding: 4px 111px;
    background: red;
}

/* Media Queries */

@media (max-width: 900px) {
    nav ul {
        display: none;
    }


}

@media (max-width: 719px) {
    main {
        width: 95%;
    }

    .card,
    .card .card-image img {
        width: 100%;
    }
}

@media (max-width: 600px) {
    main {
        width: 100%;
    }

    h1 {
        font-size: 48px;
    }

    .card {
        text-align: center;
    }

    #logo-img {
        padding: 0;
    }
}

@media (max-width: 720px) {
    main {
        width: 100%;
    }

    .card {
        width: 45%;
    }

    .card .card-image img {
        width: 100%;
    }
}

@media (min-width: 720px) {
    main {
        width: 95%;
    }

    .card {
        width: 45%;
    }

    .card .card-image img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    main {
        width: 95%;
    }

    .card {
        width: 45%;
    }

    .card .card-image img {
        width: 100%;
    }

    h3 {
        max-width: 1000px;

    }
}